@using book_store.Dtos;

@page "/books/new"
@page "/books/edit/{ID:int}"

@inject HttpClient httpClient;
@inject NavigationManager navigationManager

@rendermode InteractiveServer

<div class="page-container">
    <EditForm Model="model" OnValidSubmit="Submit">
        <div class="form">
            <div class="form-input-group">
                <div class="form-input">
                    <label for="book-isbn">ISBN</label>
                    <span class="resizable-input">
                        <InputText id="book-isbn" @bind-Value="model.ISBN" style="width: 100%;" />
                    </span>
                    <ValidationMessage For="@(() => model.ISBN)" />
                 </div>

                <div class="form-input">
                    <label for="book-name">Title</label>
                    <span class="resizable-input">
                        <InputText id="book-name" @bind-Value="model.Name" style="width: 100%;" />
                    </span>
                    <ValidationMessage For="@(() => model.Name)" />
                </div>

                <div class="form-input">
                    <label for="book-author">Author</label>
                    <span class="resizable-input">
                        <InputText id="book-author" @bind-Value="model.Author" style="width: 100%;" />
                    </span>
                    <ValidationMessage For="@(() => model.Author)" />
                </div>

                <div class="form-input">
                    <label for="book-cover">Cover Link</label>
                    <span class="resizable-input">
                        <InputText id="book-cover" @bind-Value="model.CoverLink" style="width: 100%;" />
                    </span>
                    <ValidationMessage For="@(() => model.CoverLink)" />
                </div>

                <div class="form-input">
                    <label for="book-pages">Pages count</label>
                    <span class="resizable-input">
                        <InputNumber id="book-pages" @bind-Value="model.Pages" style="width: 100%;" />
                    </span>
                    <ValidationMessage For="@(() => model.Pages)" />
                </div>

                <div class="form-input">
                    <label for="book-year">Year</label>
                    <span class="resizable-input">
                        <InputNumber id="book-year" @bind-Value="model.Year" style="width: 100%;" />
                    </span>
                    <ValidationMessage For="@(() => model.Year)" />
                </div>

                <div class="form-input">
                    <label for="book-price">Price</label>
                    <span class="resizable-input">
                        <InputNumber id="book-price" @bind-Value="model.Price" style="width: 100%;" />
                    </span>
                    <ValidationMessage For="@(() => model.Price)" />
                </div>
            </div>
            <div class="form-actions">
                <button type="submit">Submit</button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public int? ID { get; set; }

    private BookModel model = new BookModel();
    private BookDTO? bookDTO;

    protected override async Task OnParametersSetAsync()
    {
        if (ID != null)
        {
            try
            {
                var res = await httpClient.GetAsync("api/books/get-one?ID=" + ID);
                if (!res.IsSuccessStatusCode) throw new Exception("Book could not be found.");

                var book = await res.Content.ReadFromJsonAsync<BookDTO>();
                if (book == null) throw new Exception("");

                bookDTO = book;
                model = new BookModel(bookDTO);
            } catch
            {               
                navigationManager.NavigateTo("/");
            }
        }
    }

    private async Task Submit()
    {
        if (ID != null)
        {
            
        }
    }
}
