@using book_store.Dtos;

@inject HttpClient httpClient;

@rendermode InteractiveServer

@page "/"

<div class="page-container">
    <div class="catalog">
        @foreach(var book in books)
        {
            <div class="book-container">
                <div class="book">
                    <div class="img-wrap">
                        <img src="@book.CoverLink"/>
                    </div>
                    <div class="book-info">
                        <span>@book.Name</span>
                        <span>Author: @book.Author</span>
                        <span>Pages: @book.Pages</span>
                        <span>Year: @book.Year</span>
                    </div>
                    <div class="buy-section">
                        <span>Price: @book.Price</span>
                        <a href="/books/edit/@book.BookID">Edit</a>
                        <button @onclick="() => OrderBook(book.BookID)">Order</button>
                    </div>
                </div>
            </div>
        }
    </div>

    @* <button @onclick="FetchBooks">Fetch</button> *@
</div>

@code {
    List<BookDTO> books = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            await FetchBooks();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

    private async Task FetchBooks()
    {
        var res = await httpClient.GetAsync("api/books/get-paginated?page=1&pageSize=8");
        var value = await res.Content.ReadFromJsonAsync<List<BookDTO>>();

        if (!res.IsSuccessStatusCode) return;

        books = value!;
        StateHasChanged();
    }

    private async Task OrderBook(int bookID)
    {
        var res = await httpClient.PostAsync("api/orders/new?bookID=" + bookID, null);
        if (!res.IsSuccessStatusCode) return;
    }
}
