@using book_store.Dtos;

@inject HttpClient httpClient;

@rendermode InteractiveServer

@page "/"

<div class="page-container">
    <div class="search">
        <input @bind-value="search" @oninput="async (ChangeEventArgs args) => await OnSearchInput(args)" />
    </div>

    <div class="catalog">
        @foreach(var book in books)
        {
            <div class="book-container">
                <div class="book">
                    <div class="img-wrap">
                        <img src="@book.CoverLink"/>
                    </div>
                    <div class="book-info">
                        <span>@book.Name</span>
                        <span>Author: @book.Author</span>
                        <span>Pages: @book.Pages</span>
                        <span>Year: @book.Year</span>
                    </div>
                    <div class="buy-section">
                        <span>Price: @book.Price</span>
                        <a href="/books/edit/@book.BookID">Edit</a>
                        <button @onclick="() => OrderBook(book.BookID)">Order</button>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="page-selector">
        @for (int pageI = 1; pageI <= pageCount; pageI++)
        {
            <button @onclick="() => selectPage(pageI)" style="padding-inline:0.5rem;">@pageI</button>
        }
    </div>
</div>

@code {
    List<BookDTO> books = [];

    private string search = "";
    private int pageCount = 1;
    private int selectedPage = 1;

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            await FetchBooks();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

    private async Task OnSearchInput(ChangeEventArgs e)
    {
        search = e.Value!.ToString()!;
        await FetchBooks();
    }

    private async Task selectPage(int page)
    {
        selectedPage = page;
        await FetchBooks();
    }

    private async Task FetchBooks()
    {
        var res = await httpClient.GetAsync($"api/books/get-paginated?page={selectedPage}&pageSize=8&search={search}");
        var value = await res.Content.ReadFromJsonAsync<paginatedBooksDTO>();

        if (!res.IsSuccessStatusCode) return;

        books = value!.books.ToList();
        pageCount = value!.pages;
        StateHasChanged();
    }

    private async Task OrderBook(int bookID)
    {
        var res = await httpClient.PostAsync("api/orders/new?bookID=" + bookID, null);
        if (!res.IsSuccessStatusCode) return;
    }
}
